@font-face {
  font-family: 'Joystix Mono';
  src: url('../fonts/joystixmonospace.otf') format('opentype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Joystix Mono', monospace;
}

body {
  background-color: #000;
  color: #fff;
}
